input.off {
    background: #d1eff2;
	border-radius: 30px;
}
input.on {
    background: #f28b74;
	border-radius: 30px;
}
/* input.b {
    background: #f28b74;
    height: 50px;
    width: 150px;
} */

body {
    margin: 0px;
    background: #d1eff2;
}

menu {
	background: #287d99;
}
menu > table {
    background: #287d99;
    height: 200px;
    width: 95%;
    margin-left: 0;
    margin-right: 10px;
}
menu > table > center {
    margin-top: 60px;
    height: 100px;
    align-content: center;
}

/* img.mine {
	height: 400px;
} */
img.icon {
    height: 150px;
}
img {
  height: 200px;
	border-radius: 20px;


}

table {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

/* article {
    height:53%;
	overflow: auto;
} */

/* footer {
    clear: both;
    background: #287d99;
} */

.reg {
	background: #d1eff2;
	border-radius: 5px;
}
.back_reg {
	background: #287d99;
}

/* h3 {
    text-align: right;
} */

/* p {
    font-size: 15px;
} */

A:link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
A:visited {
    text-decoration: none;
    color: #000000;
    font-family: Verdana, Arial;
}
A:hover {
    text-decoration: none;
    color: #f28b74;
    font-family: Verdana, Arial;
}

.slider {
	width: 100%;
	height: 200px;
	position: relative;
	text-align: center;
}
.slider > input {
	display: inline-block;
	z-index: 100;
	position: relative;
	background: rgba (90, 90, 90, 0.8);
	border: 2px solid rgba (190, 190, 190, 0.8);
	cursor: pointer;
	width: 15px;
	height: 15px;
	border-radius: 8px;
	margin-right: 4px;
	top: 90%;
}
.slider > div {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 0;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
}
.slider > input:checked + label + div {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;
}
/* .slider > div > p {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
} */
.slider > div > img {
	height: 100%;
}
